<!-- product panels markup -->
<!-- This contains three two sections: Tab bar and (Description, Spec and Review) -->

<section>

  <!-- Tab bar using bootstrap -->
  <ul class="nav nav-pills">
    <li ng-class="{activeTab: panel.isActive(1)}">
      <a href ng-click="panel.selectTab(1)">Description</a>
    </li>
    <li ng-class="{activeTab: panel.isActive(2)}">
      <a href ng-click="panel.selectTab(2)">Specifications</a>
    </li>
    <li ng-class="{activeTab:  panel.isActive(3)}">
      <a href ng-click="panel.selectTab(3)">Reviews</a>
    </li>
  </ul>

  <!-- Description tab markup -->
  <div class="panel" ng-show="panel.isActive(1)">
    <h4>Description</h4>
    <p>{{product.description}}</p>
  </div>

  <!-- Specs tab markup -->
  <div class="panel" ng-show="panel.isActive(2)">
    <h4>Specifications</h4>
    <p>Shine : {{product.Shine}}</p>
    <p>Faces : {{product.Faces}}</p>
    <p>Rarity: {{product.Rarity}}</p>
    <p>Color : {{product.Color}}</p>
  </div>

  <!-- Reviews tab markup -->
  <div class="panel" ng-show="panel.isActive(3)">

    <!-- show reviews -->
    <h4>Reviews</h4>
    <p class="review" ng-repeat="review in product.reviews">
      <b>Stars: {{review.stars}}</b><br/>
      <i>{{review.comments}}</i><br/>
      <cite>-{{review.author}}</cite>
    </p>

    <!-- Submit review form -->
    <form name="reviewForm" class="review-form" ng-controller="reviewController as reviewCtrl" 
                                              ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
      <h4>Submit a Review</h4>
      <!-- review preview space -->
      <p class="review">
        <b>Stars: {{reviewCtrl.review.stars}}</b><br/>
        <i>{{reviewCtrl.review.comments}}</i><br/>
        <cite>-{{reviewCtrl.review.author}} on {{reviewCtrl.review.createdOn | date}}</cite>
      </p>

      <!-- review form fields list -->
      <ul>
        <!-- Rating -->
        <li><label>Rating:</label></li>
        <li>
          <select ng-model="reviewCtrl.review.stars" required>
            <option></option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </li>

        <!-- Comments -->
        <li><label>Comments:</label></li>
        <li>
          <textarea placeholder="post your comments here" ng-model="reviewCtrl.review.comments" required></textarea>
        </li>

        <!-- Author -->
        <li><label>Author:</label></li>
        <li>  
          <input type="email" placeholder="email" ng-model="reviewCtrl.review.author" required>
        </li>

        <!-- Review submit button -->
        <li>
          <button class="review-submit"/>submit review</button>
        </li>
      </ul>
      <p>Form is {{reviewForm.$valid}}</p>
    </form>
  </div>
</section>