body {
  width:80%;
  margin: 0 auto;
}
header {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.list-local {
  border: 1px solid gray;
  padding: 20px;
  margin: 25px;
}
.nav li a{
  color: #da197d;
}
.panel{
  padding: 10px 20px;
  border: 1px solid #ccddee;
  border-left: 5px solid #445566;
  margin-top: 5px;
}
.activeTab{
  background-color: #da197d;
  border-radius: 5px;
}
li.activeTab a{
  color: white;
}
.review-form{
  padding: 20px;
}
form.review-form textarea, input, select{
  padding: 10px 20px;
  margin: 5px;
  width: 60%
}
form.review-form label{
  margin-left: 5px;
}
form.review-form ul{
  list-style-type: none;
  padding:0;
}
.review{
  background-color: #ffeeff;
  padding: 10px 20px;
  border-radius: 5px;
}
.review-submit{
  background-color: #da197d;
  border-radius: 5px;
  padding: 13px;
  border: none;
  color: white;
  margin-top: 20px;
  margin-left: 25%;
}
.ng-invalid.ng-dirty{
  border-color: #fa787e;
}
.ng-valid.ng-dirty{
  border-color: green;
}
textarea:focus, input:focus{
  outline: 0;
  box-shadow: none;
}


/* menu-bar */

.menu-bar {
  list-style-type: none;
  margin-top: 20px;
}

.menu-bar li{
  display: inline;
  margin: 5px;
}

.menu-bar li a {
  color: white;
  font-size: 22px;
  background: #da197d;
  padding: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.menu-bar li a:hover{
  background: #a7064a;
}

.menu-bar .menuActiveTab a{
  background-color: #a7064a;
}