<!doctype html>
<html ng-app="store">
  <head>
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/products.js"></script>
    <script src="/static/js/menu.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>

  <body ng-controller="storeController as store">
    <!-- page header -->
    <!-- include menu.html -->
    <menu-bar></menu-bar>

    <!-- unordered list of products -->
    <ul class="list-group">
      <li class="list-local list-group-item" ng-repeat="product in store.products" ng-hide="product.outOfStock">
        <!-- include product-info.html (name, price and image)-->
        <product-info></product-info>
        <!-- include product panels (description, spec and reviews)-->
        <product-panels></product-panels>
      </li>
    </ul>
 
  </body>
</html>