<header>
  <h1>Flatlander Crafted Gems</h1>
  <h2> -An Angular Store- </h2>
  <ul class="menu-bar">
    <li ng-class="{menuActiveTab: menuTab.isActive(1)}">
      <a href="#" ng-click="menuTab.selectTab(1)">About</a>
    </li>
    <li ng-class="{menuActiveTab: menuTab.isActive(2)}">
      <a href="#" ng-click="menuTab.selectTab(2)">Store</a>
    </li>
    <li ng-class="{menuActiveTab: menuTab.isActive(3)}">
      <a href="#" ng-click="menuTab.selectTab(3)">Contact</a>
    </li>
    <li ng-class="{menuActiveTab: menuTab.isActive(4)}">
      <a href="#" ng-click="menuTab.selectTab(4)">Shopping Cart</a>
    </li>
  <ul>
</header>